@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Cormorant+Garamond:ital,wght@1,300&family=Dancing+Script&family=Macondo&family=Orbitron&family=Overlock+SC&family=Overpass+Mono:wght@300;400&family=Ubuntu:wght@300&display=swap');

.App {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Macondo', cursive;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Overlock SC', sans-serif;
  font-family: 'Overpass Mono', monospace;
  font-family: 'Ubuntu', sans-serif;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: 6s displ ease-in-out;

  h1 {
    color: #075d5a;
    letter-spacing: 2px;
  }

  .loader {
    width: 64px;
    height: 64px;
    position: relative;
    background: #FFF;
    border-radius: 4px;
    overflow: hidden;
    animation: 6s displ ease-in-out;
  }

  .loader:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(45deg) translate(30%, 40%);
    background: #0b9b96;
    box-shadow: 32px -34px 0 5px #075d5a;
    animation: slide 2s infinite ease-in-out alternate;
  }

  .loader:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #075d5a;
    transform: rotate(0deg);
    transform-origin: 35px 145px;
    animation: rotate 2s infinite ease-in-out;
  }
}

@keyframes slide {

  0%,
  100% {
    bottom: -35px
  }

  25%,
  75% {
    bottom: -2px
  }

  20%,
  80% {
    bottom: 2px
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg)
  }

  25%,
  75% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(25deg)
  }
}

@keyframes displ {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.7;
  }

  70% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.3;
  }

  90% {
    opacity: 0.1;
  }

  100% {
    opacity: 0;
  }
}